{{!-- button --}}
<a href=" ./todos/new">Create</a>
{{!-- todos --}}
<ul>
  {{#each todos}}
  <li>
    {{this .name}}
    <a href="./todos/{{ this._id }}">details</a>
    <a href="./todos/{{ this._id  }}/edit">edit</a>
  </li>
  {{/each}}
</ul>